<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <button mat-button (click)="sidenav.toggle()">
            <span class="material-icons">menu</span>
        </button>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>sample</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>sample</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()">
                    <span class="material-icons">menu</span>
                </button>
              <span>Admin-LTE</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>