<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav mode="over">
        <div class="row">
            <div class="col-3"><button mat-button (click)="sidenav.toggle()">
                <span class="material-icons">menu</span>
            </button></div>
            
            <div class="col">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>{{user.name}}</mat-card-title>
                        <mat-card-subtitle>{{user.profile}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-users me-2 fa-lg pt-1"></i>Clients
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <a routerLink="/client_list">
                            <button class="btn">
                                <i class="fas fa-list me-2"></i>Client List
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-calendar-alt me-2"></i>Installations
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0"><a href=""><button class="btn"><i
                                    class="fas fa-chart-bar me-2"></i>Stats</button></a></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-chart-line me-2 fa-lg pt-1"></i>Finances
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0"><a href="">
                            <button class="btn">
                                <i class="fas fa-money-bill-wave me-2"></i>
                                Pending Payments
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0"><a href="">
                            <button class="btn">
                                <i class="fas fa-file-invoice-dollar me-2"></i>Invoices
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-cart-arrow-down me-2"></i>Expenses
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-chart-bar me-2"></i>Stats
                            </button>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-life-ring me-2 fa-lg pt-1"></i>Support
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-ticket-alt me-2"></i>Ticket List
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-chart-bar me-2"></i>Stats
                            </button>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-warehouse me-2 fa-lg pt-1"></i>Storage
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-boxes me-2"></i>Articles
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-truck-loading me-2"></i>Vendors
                            </button>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="fas fa-cogs me-2 fa-lg pt-1"></i>Settings
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-users-cog me-2"></i>Staff
                            </button>
                        </a>
                    </li>
                    <li class="list-group-item px-0">
                        <a href="">
                            <button class="btn">
                                <i class="fas fa-sign-out-alt me-2"></i>Log out
                            </button>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()">
                    <span class="material-icons">menu</span>
                </button>
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col-11 ">
                            <a routerLink="/" style="text-decoration: none;color: white;"><span>Admin-LTE</span></a>
                        </div>
                        <div class="col-1">
                            <a routerLink="/login" style="text-decoration: none;color: white;">
                                <button mat-flat-button color="primary" class="ml-3">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Log Out
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>