<h1 class="mb-4 ms-4 mt-4">Dashboard</h1>

<mat-card class="mb-3 ms-5 me-auto w-25">
    <mat-form-field class="mx-3">
        <mat-label>Select City</mat-label>
        <mat-select>
            <mat-option value="example">
                Example1
            </mat-option>
            <mat-option value="example">
                Example2
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button class="btn btn-primary">Add Client</button>
</mat-card>

<app-client-table></app-client-table>